@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

	$background-color: #e4e4e4;
	$content-color: #f8f8f8;
	$panel-header-blue: #286090;

	body {
	    font-family: 'Lato';
	    background-color: $background-color;
	}

	.fa-btn {
	    margin-right: 6px;
	}

    ul{
        list-style: none outside none;
        padding-left: 0;
        margin: 0;
    }

    img{
        width: 100%;
        height: auto;
    }

    .img-size{
        width:  205.6px;
        height: 173px;
    }

    .main{
        background: $content-color;
        min-height: 100vh;
    }

    .picture{
        height: auto !important;
    }

    .loading-thumbnails{
        width:  205.6px;
        height: 213px;
        overflow: hidden;
    }

    .loading-thumbnails-border{
        @extend .img-size;
        border: 1px solid #999;
        background: #FFF;
    }

    .loading-img{
        position: relative;
        top: 40%;
        width: 20%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .thumbnails{
        @extend .img-size;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .domainList{
        background: $background-color;
    }

    .panel-info{
        border-color: $background-color;
    }

    .panel-heading{
        color: white !important;
        background-color: $panel-header-blue !important;
        border-color: $panel-header-blue !important;
    }

    .checkboxes{
    	margin-right: 10px !important;
    }

    .wrapper{
        text-align: center;
    }

    .see-more-button{
        margin: 10px auto;
    }

    #main-panel-body{
    	padding: 0px;
    }

    #select_all{
	    margin-right: 10px;
	    padding-left: 15px;
    }

    #export-text{
    	margin: 15px;
    }

